[submodule "mysql-config"]
	path = mysql-config
	url = https://github.com/justin-napolitano/mysql-config.git
[submodule "mysql-utility-class"]
	path = mysql-utility-class
	url = https://github.com/justin-napolitano/mysql-utility-class.git
